@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(#1f5d90, #18bbed);
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('assets/fond/interrogation_bg.png') repeat;
  background-size: 280px 340px;
  opacity: 0.07; 
  z-index: -1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0px;
}

button {
  font-family: 'Nunito', sans-serif;
}