@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(#25689F, #1997C9);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0px;
}

button {
  font-family: 'Nunito', sans-serif;
}